.nofade {
	transition: opacity 0.4s ease-in;
	-webkit-transition: opacity 0.4s ease-in;
	-moz-transition: opacity 0.4s ease-in;
	-ms-transition: opacity 0.4s ease-in;
	-o-transition: opacity 0.4s ease-in;
	opacity: 1;
}

.fade {
	transition: opacity 0.4s ease-out;
	-webkit-transition: opacity 0.4s ease-in;
	-moz-transition: opacity 0.4s ease-in;
	-ms-transition: opacity 0.4s ease-in;
	-o-transition: opacity 0.4s ease-in;
	opacity: 0;
}

body {
    margin: 0;
	background-color: black;
	font-family: Tahoma, Arial, sans-serif;
	color: white;
}

/* Centering styles */
.container {
	position: relative;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.centered-img {
	height: 100%;
}

/* Bottom right */
.bottom-right-date {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
}